[Desktop Entry]
Type=Application
Exec=/usr/bin/seaf-cli start
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=Seafile
Name=Seafile
Comment[en_CA]=Start Seafile CLI
Comment=Start Seafile CLI
